package components

templ Input(
  placeholder string,
  name string,
  inputType string,
) {
  <label
    class="input input-bordered flex items-center gap-2"
  >
    <input
      class="grow"
      type={inputType}
      name={name}
      placeholder={placeholder}
    />
  </label>
}


