package components

templ Root() {
  <html>
    <head>
      <title>Index</title>
      <link rel="stylesheet" href="/assets/styles.css" />
      <script src="/assets/htmx.min.js"></script>
    </head>
    <body>
      { children... }
    </body>
  </html>
}

